
{# example, assuming you have a route named "login" #}
<p>Para cambiar su contraseña: <a href="{{ url('key-password', {'key' :key}) }}">clic aquí</a>.</p>
<p>Si no puede ver correctamente este mensaje puede usar esta url: <a href="{{ url('key-password', {'key' :key}) }}">{{ url('key-password', {'key' :key}) }}</a></p>

<img src="{{ absolute_url(asset('build/static/logo.jpg')) }}" width="100">