{{ form_start(form) }}
<div class="form-group">
    {{ form_widget(form.email) }}
</div>
<div class="form-group">
    {{ form_widget(form.passwordClear) }}
</div>
<button class="btn is-btn-default" type="submit">Cambiar!</button>
{{ form_end(form) }}

